.modules-list {
    .card-title {
        min-height: 7em;
        max-height: 11em;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0px 80px 40px -40px #ffffff9e;
    }
}