.vs__clear {
    margin: 0 5px;
}
.vs__search,
.vs__search:focus {
    color: #858796;
}
.vs__selected {
    background-color: $primary !important;
    border: 1px solid $primary !important;
    color: #fff !important;
    padding: 0.15em 0.4em !important;
}

.vs__deselect {
    fill: rgba(255, 255, 255, 0.5) !important;
}

.vs__search {
    text-transform: capitalize;
}